@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{ margin:0; padding:0; box-sizing: border-box; }

#canvas1 {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

#playerImage, #backgroundImage, #zombie, #coffee_bean, #life, #gameOver {
  display: none;
}


#main {
  position:absolute; left:50%; top:50%;
  width:1000px;
  height:700px;
  transform: translate(-50%,-50%);
  background:#383432;
  overflow: hidden;
}

.mainImg, .keyBoard {
  position:absolute; 
}
.mainImg{
  left:48%; top:-480px;
  transform: translateX(-50%);
  animation: top2middle 0.7s linear forwards;
}
.keyBoard{
  right:110px; top:52%;
}
.title {
  position:absolute; left:50%; top:50%;
  width:1000px;
  height:700px;
  transform: translate(-50%,-50%);
  text-align: center;
}
#start, #restart {
  display: block;
  color:white;
  font-family: 'Press Start 2P', cursive;;
  font-size:20px;
  word-spacing: -5px;
  filter: drop-shadow(3px 3px 0 black);
}
#start {
  margin:570px 0;
  opacity: 0;
  animation: blink 0.5s linear infinite;
}
#restart{margin:400px 0;}

#main.hidden, #start.hidden, #restart.hidden{ display: none;}
.title span { 
  color:rgb(255, 238, 0); 
  font-size:25px; text-transform: uppercase; 
}


@keyframes top2middle{ to { top:110px; } }
@keyframes blink { to { opacity: 1;} }
