@charset "utf-8";

/* main-header */
.main-header { 
    position:fixed; top:0px; left:0; width:100%; 
    padding:20px 30px 0;
    z-index:990;
}
.main-header .header-logo { 
    float:left;
    width:160px; height:60px;
}
.header-logo  > img { display:block; width:80%; }

#btn-open { 
    position:absolute; top:25px; right:30px;
    width:40px; height:40px; 
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.3); 
}
#btn-open span { 
    position:absolute; top:50%; left:50%;
    width:60%; height:2px;
    transform:translate(-50%,-50%);
    background:#fff;
    transition:all 0.4s ease-in;
}
#btn-open span::before, #btn-open span::after {
    position: absolute;
    width:100%; height:100%;
    background:#fff;
    content:"";
    transition:all 0.4s ease-in;
}
#btn-open span::before { top: -9px; }
#btn-open span::after { top:10px; }

/*btn-active*/
#btn-open.x span { 
    background:transparent;
 }
#btn-open.x span::before {
    transform:translateY(10px) rotate(45deg);
    background:#fff;
    content:"";
}
#btn-open.x span::after {
    transform:translateY(-10px) rotate(-45deg);
    background:#fff;
    content:"";
}

/*gnb*/
#gnb.on { right:0; }
#gnb { 
    position:fixed; top:0; right:-400px; 
    width:400px; height:100%;
    background:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index:300;
    transition:all 0.6s ease-in;
}
#gnb nav {
    position:absolute;
    top:120px; left:50px;
    width:300px; 
}
#gnb nav > ul > li {
    float:none;
    margin:50px 0; padding-top:10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size:22px; 
    letter-spacing: -0.5px;
    overflow:hidden;
}
#gnb nav > ul li a { 
    float:left;
    position:relative;
    color:rgb(40, 81, 145);
    transform:translateY(110%);
}
#gnb nav > ul li:last-child a {color:#a4a4a4;}
#gnb nav > ul li a .dot {
    position:absolute; top:-2px; right:-20px;
    width:8px; height:8px; 
    background: var(--brown);
    border-radius: 50%;
    transition: all 0.2s ease-in;
    opacity: 0;
}
#gnb nav > ul li a:hover .dot { opacity:1; }

.bottom2top-txt > a.bottom2top, .gnb-footer.bottom2top {
    animation: bottom2top 0.6s ease-in 0.3s forwards;
}

nav .bottom2top-txt > .delay0 { animation-delay: 0.2s; }
nav .bottom2top-txt > .delay1 { animation-delay: 0.3s; }
nav .bottom2top-txt > .delay2 { animation-delay: 0.4s; }
nav  .bottom2top-txt > .delay3 { animation-delay: 0.5s; }

#gnb .gnb-footer {
    position:absolute;
    bottom:0;
    width:100%;
    border-top:1px solid #a4a4a4;
    transform:translateY(110%);
}
.search-box {
    float:left;
    margin:17px 20px 0px 20px;
    height:30px; 
    border-radius: 15px;
    background:var(--brown);
}
.search-txt { 
    float:left; width:0px; padding:0;
    color:#fff; line-height:27px;
    background:none; border:0; outline:0;
    transition:all 0.4s ease-in;
}
.search-btn {
    float:right; display:flex;  justify-content:center; align-items:center;
    width:30px; height:30px; margin:0px;
    color:#fff;
    background:var(--brown);
    border-radius:50%;
}
.search-box:hover .search-txt { width:160px; padding: 2px 5px 0 15px;}

#gnb .gnb-footer ul { line-height:60px; text-align:center; }
#gnb .gnb-footer > ul > li {
    height:60px;
    font-size:22px; 
    border-right:1px solid #a4a4a4;
}
#gnb .gnb-footer > ul li:first-child {
    width:20%; 
    border-left:1px solid #a4a4a4; 
}
#gnb .gnb-footer > ul li:last-child {
    width:20%; padding-top:1px;
    font-size: 20px;
    border-right:none;
}
#gnb .gnb-footer  > ul li a { color:var(--beige);}
#gnb .gnb-footer > ul li a:hover {  margin-top:-3px;color:var(--brown); }

/*section -first */
section {
    overflow: hidden;
    transition: transform 0.7s ease-in;
}
section.on { transform: translateX(-200px);}

.first video {
    width:100%; height:100%;
    object-fit: cover;
}
.first  h2 {
    position:absolute;
    top:50%; left:50%;
    width:750px;
    font-size:70px;
    /* font-family: 'Kaushan Script', cursive;  */
    font-family: 'Rock Salt', cursive;
    color:rgba(255, 255, 255, 0.5);
    text-align:center; line-height: 130px;
    letter-spacing: 1px;
    transform:translate(-50%,-50%);
}
/*section -second */
section, .second {
    overflow: hidden;
}
.flavor {
    display:flex;
    justify-content:center;
    align-items: flex-start;
    width:90%; margin:50px auto 0;
}
.flavor li {
    width: 300px; height:370px;
    margin:3%; padding: 0 20px;
    text-align: center;
    box-shadow: 5px 8px 10px rgba(50, 50, 50, 0.3);
    border:1.5px solid rgb(78, 78, 78);
}
.third, .flavor li:nth-child(1) { background:linear-gradient(128deg, #81e78d, var(--lemon));}
.fourth, .flavor li:nth-child(2) { background:linear-gradient(128deg,#6d96e9,var(--balance)); }
.fifth, .flavor li:nth-child(3) { background:linear-gradient(128deg,rgb(197, 155, 118),var(--sweet));}


.flavor li .lemon, .balance, .sweet {
    position:relative;
    width:200px; height:200px;
    margin:-100px auto 0;
    border:1.5px solid rgb(78, 78, 78);
    border-radius: 50%;
    transition:all 0.5s ease-in;
}
.flavor li .lemon{
    background: rgb(211, 233, 169) url(../imgs/lemonpattern.png) repeat center;
    background-size:40px;
    background-blend-mode: multiply;
}

.flavor li .balance{
    background:rgb(192, 206, 251) url(../imgs/balance2.png) no-repeat top;
}
.flavor li .sweet{
    background:url(../imgs/sweet.jpg) no-repeat top;
    background-size: cover;
}
.flavor li .circle {
    position:absolute;
    width:100%; height:100%;
    overflow: hidden;
}
.flavor li .circle::after {
    content:'';
    display:block;
    box-sizing: border-box;
    width:100%;
    height:100%;
    border-radius: 50%;
    border: 6px solid transparent;
}


.flavor li .circle.top::after {
    animation: spin-circle-top 5s  linear infinite;
    opacity:0.7;
}
.flavor li .circle.bottom::after {
    animation: spin-circle-bottom 5s linear infinite;
    opacity:0.7;
}
.flavor li .circle.top::after{
    border-top-color: #fff;
    border-left-color:  #fff;
}
.flavor li .circle.bottom::after {
    border-top-color: #fff;
    border-left-color:  #fff;
}

/*---flavor li:hover---*/
.flavor li:hover { box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.4) inset; }
.flavor li:hover > div { transform: rotate(20deg);}

.flavor li a { color:#fff;}
.flavor li a h3 {
    margin-top:30px;
    font-size:45px;
    text-transform: uppercase;
}
.flavor li a p { color:rgba(255, 255, 255, 0.8);}
.flavor li a p:last-child {
    font-size:13px;
    margin-top:30px;
    font-weight:300;
}

/* section -third, fourth, fifth */
.half {
    position:absolute;
    top:0;
    width:50%; height:100%;
    border-right:1.5px solid rgb(78, 78, 78) ;
    background-repeat: repeat;
    opacity: 0;
    transition:all 1.5s ease-in-out;
}
.half.left {left:-110%; }
.half.right{ right:-110%; }

.half.left.lemonP { background-image: url(../imgs/lemonpattern.png);}

.half.right.balanceP { 
    background-image: url(../imgs/balanceP.png) ;
    border-right:none;
    border-left:1.5px solid rgb(78, 78, 78) ;
}
.half.left.sweetP { background-image: url(../imgs/sweetpattern.png); }

.pack {
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-size:570px;
    background-repeat: no-repeat;
    background-position: 49% center;
    background-attachment: fixed;
    filter: drop-shadow(8px 30px 30px hsl(0deg 0% 0% /0.25));
}

.pack.L{ background-image: url(../imgs/Lpack.png) }
.pack.B{ background-image: url(../imgs/Bpack.png); }
.pack.S{ background-image: url(../imgs/Spack.png);}

.text-box {
    position:relative;
    left:60%;
    width:550px;
}
.text-box h3 { 
    display:block;
    margin-bottom:15px;
    font-size:70px; 
    color:rgb(255, 247, 86);
    text-transform: uppercase;
    letter-spacing: -2px;   
    overflow: hidden;
}
.text-box .text-wrap{
    display:block;
    overflow: hidden;
}
.text-box .text-wrap > .bottom2top-txt {
    display:block;
    transform: translateY(110%);
}

.text-box p { 
    font-size:18px; color:rgba(255, 255, 255,0.8);
}
.text-box p > span { 
    padding:0 15px; 
    transition:color 0.2s ease-in;
    cursor: pointer;
}
.text-box p > span:hover {color:#dbfbae;}
.text-box span:nth-child(1) { padding-left:0; }

.fourth .text-box {  left:10%;}
.fourth .text-box > h3 {color:rgb(255, 160, 239);}
.fourth .text-box p > span:hover { color:#b1c1f3;}

.fifth .text-box > h3 {color:rgb(86, 255, 162);}
.fifth .text-box p > span:hover { color:#eecba2;}
.fp-viewing-third .bottom2top-txt,.fp-viewing-fourth .bottom2top-txt , .fp-viewing-fifth .bottom2top-txt {
    animation: bottom2top 1s ease-in 0.3s forwards;
}
.text-box .text-wrap > .bottom2top-txt.delay0{
    animation-delay: 0.2s;
}
.text-box .text-wrap > .bottom2top-txt.delay1{
    animation-delay: 0.5s;
}

@keyframes bottom2top {
    0% { transform:translateY(110%); }
    100% {transform:translateY(0%);}
}

@keyframes spin-circle-top {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin-circle-bottom {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }