
.first  h2 {  width:80%; font-size: 45px; line-height:80px; }

#fp-nav ul li,
.fp-slidesNav ul li {display:none;}

.half {
    position:absolute;
    top:0;
    width:100%; height:50%;
    border-right:none;
    border-bottom:1.5px solid rgb(78, 78, 78) ;
}

.half.right.balanceP { 
    border-left:none;
}

.pack {  
    background-size:270px;
    background-position:center 23%;
}

.fourth .text-box {  left:50%; transform: translateX(-200px); } /*main.css 이부분을  미디어쿼리로 처리하기*/
.text-box {
    position:relative;
    top:30%; left:50%;
    width:400px;
    text-align: center;
    transform: translateX(-200px);
}
