@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


*{ margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px; color:#333;
    background:#fff;
}
h1,h2,h3,h4,h5,h6 {  font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
ul li { list-style: none; float: left; }
a { display: block; text-decoration: none; outline: 0; }
.clear { clear: both; }

:root {
    --brown : #8f5635;
    --beige : #d3a281;
    --lemon:rgb(67, 185, 87);
    --balance: #4059c5;
    --sweet:rgb(137, 92, 53);

}

.fade-class {
    position:relative;
    top:90px;
    opacity:0;
    transition: top 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}
.fade-in {
    top:0;
    opacity: 1;
  }
.fade-class.delay0 {transition-delay: 0.3s; }
.fade-class.delay1 {transition-delay: 0.4s; }
.fade-class.delay2 {transition-delay: 0.5s; }
