/*section -second */
.bean {     
    background: url(../imgs/beanSm.png) no-repeat bottom center;
    background-size:cover;
}
.flavor {
    flex-direction: column;
    align-items: center;
}
.flavor li {
    width: 70%; height:150px;
    margin:7%; padding: 0;
    border-radius: 20px;
}
.flavor li .lemon, .balance, .sweet {
    width:170px; height:170px;
    margin:-75px;
}
.flavor li a h3 {
    margin-top:10px;
    font-size:42px;
}
.flavor li a p:last-child { display:none; }

/* section -third, fourth, fifth */
.pack {
    width:50%;
    background-size:260px auto;
    background-position:15% center;
}
.pack.B{
    width:50%;
    left:initial; right:0;
    background-position:85% center;
}

.text-box { left:58%; width:320px;}
.text-box h3 {  font-size:50px; }
.text-box p {  font-size:16px; }
.text-box p > span { padding:0 10px; }

