
.pack {
    position: absolute;
    top:0px; left:0;
    width:50%; height:100%;
    background-size:300px auto;
    background-position: 15% center;
    background-attachment: fixed;
}

.text-box { left:55%;}